h1 {
color: red 
;}
@font-face {
  font-family: "tf2build";
  src:local("tf2build regular"),
       url("../fonts/tf2build.woff") format('woff'),
       url("../fonts/tf2build.woff2") format('woff2');

}
.container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    background-color: #2c2c2c5e;
}
.info-main{
    color:#f5e7de
}

.main-title{
    font-family:'tf2build', sans-serif;
    text-align: center;
    background-color:#F4722b ;
    color:#f5e7de
}

body{
    color:#f5e7de;
    font-family:"tf2build", sans-serif;
    letter-spacing: 1.5px;
    background-image: url(https://i.imgur.com/lbjNG.jpg) ;
}
#hobby{
    color:#f5e7de
}
#game-table{
    text-align: center;
    border-color: #f5e7de;
    background-color: #F4722b;
    margin-bottom: 20px;
    border-radius: 5px;
    tr:nth-child(even)
{background-color: #3E3e3e;}}

.main-img{
     box-shadow: 7px 7px 6px rgb(49, 49, 49);
     border-radius: 25%;
}
a {
    text-decoration: none;
    color: inherit;
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg) }}
.tf2-logo{
    position: absolute;
    top: 200px;
    animation: spin 12s linear infinite;
    float:center;
    z-index: -50; 
}
.tf2-logo2{
    position: absolute;
    top: 200px;
    right: 50;
    animation: spin 12s linear infinite;
    float:center;
    z-index: -50; 
}
@media (max-width: 650px) { 
.info-main {
    display: block;
    text-align: center;
}}